serviceAccountKeys.json
.coverage
.vscode
.pytest_cache
.mypy_cache
app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/algoritmo_match.cpython-311.pyc
app/src/__pycache__/__init__.cpython-311.pyc
app/src/__pycache__/config_db.cpython-311.pyc
app/src/__pycache__/exceptions.cpython-311.pyc
app/src/__pycache__/grupos_crud.cpython-311.pyc
app/src/__pycache__/login.cpython-311.pyc
app/src/__pycache__/main.cpython-311.pyc
app/src/__pycache__/match_crud.cpython-311.pyc
app/src/__pycache__/usuarios_crud.cpython-311.pyc
app/src/models/__pycache__/grupo_model.cpython-311.pyc
app/src/models/__pycache__/login_model.cpython-311.pyc
app/src/models/__pycache__/match_models.cpython-311.pyc
app/src/models/__pycache__/usuario_model.cpython-311.pyc
app/src/utils/__pycache__/busca_grupo.cpython-311.pyc
app/src/utils/__pycache__/busca_usuario.cpython-311.pyc
